.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container{
  width: 100%;
  /* height: 3100px; */
  /* background: #CFFFF0; */
  background:#95B4B8;
  display: grid;
}

header{
  position: fixed ;
  
  background:#516163;
  box-shadow: 5px 5px 5px #C2EAF0;  width: 100%;
  /* height: auto; */
  border-radius: 3px;
  display: grid;
  grid-template-columns: 15% 25% 35% 25%;
}
input[type="text"], input[type='password']{
  width:250px;
  background:#95B4B8;
  border-radius: 3px;
  box-shadow: 4px 2px 4px #C2EAF0;
  border:none;
  border-bottom:1px solid black;
  height: 20px;
}
header input[type='button']{
  background: url('./search.png');
  background-size: cover;
  box-shadow: 1px 2px 2px #C2EAF0;
  height: 25px;
  border-radius: 3px;
  border:none;
  width: 25px;
  color: rgba(0,0,0,0);
  border-bottom:1px solid black;
}
.search{
  margin:10px;
}
.logo{
  
  margin-top: 7px;
  font-size:25px;
  margin-left: 10px;
  text-align: center;
}
.logo a{
  color:#CFF9FF;
  font-weight: 700;
  font-family:Bookman, URW Bookman L, serif;
}
header a{
  color:#CFF9FF;
  text-decoration: none;
  font-size:20px;
  font-family:Bookman, URW Bookman L, serif;
}
header li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

header p{
  display: inline-block;
  margin-right:10px;
}
main{
  width: 100%;
}
.menu{
  width: 90%;
  margin: auto;
  background: #C2EAF0;
  border-radius: 10px;
  margin-top:150px;
  height: 800px;
  box-shadow: 3px 3px 3px #516163;
  text-align: center;
  padding-top:10px;
}
.menu p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:50px;
  font-weight: 700;

}
.login{
  width: 90%;
  margin: auto;
  background: #C2EAF0;
  border-radius: 10px;
  margin-top:150px;
  height: 800px;
  box-shadow: 3px 3px 3px #516163;
  text-align: center;
  padding-top:10px;
}
.posts{
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top:150px;
  min-height: 800px;
  /* background:#C2EAF0;; */
  padding-top:10px;
}
.post{
  width: 70%;
  height: 130px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
 
  border-radius: 10px;
   /* padding-left: 10px;
  padding-top: 10px; */
  background:#CFF9FF; 
}
.infoUser{
  margin-top: 10px;
  margin-bottom:10px;
  padding-bottom: 10px;
}
.categories{
  /* width: 100px; */
  background: #829DA1;
  height: 30px;
  margin-top:15px;
  padding-top:10px;
  margin-left:30px;
  padding-bottom: 15px;
  text-align: center;
  /* width:; */
  border-radius: 10px;
}
.posts p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 700;
  text-align: center;
}
.login p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 700;

}
#avatarUser{
  background: url('./img/cat.jpeg');
  background-size: cover;
  margin:auto;
  /* margin-left: 270px; */
  box-shadow: 1px 2px 2px #C2EAF0;
  height: 150px;
  border-radius: 5px;
  border:none;
  width: 150px;
  color: rgba(0,0,0,0);
  /* border-bottom:1px solid black;  */
}
.newPost{
  width: 90%;
  margin: auto;
  background: #C2EAF0;
  border-radius: 10px;
  margin-top:150px;
  height: 800px;
  box-shadow: 3px 3px 3px #516163;
  text-align: center;
  padding-top:10px;
}
.AddPost{
  background: #404D4F;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  padding-top:15px;
  text-align:center;
  margin-left:65%;
  position: absolute;
}
.AddPost a{
  color:#C2EAF0;
  text-decoration: none;
  font-size:20px;
  font-family:Bookman, URW Bookman L, serif;
}
#activePost{
  margin-top: 50px;
}
/* .AddPost p{
  margin-top: 30px;
} */
.loginUpdate{
  width: 90%;
  margin: auto;
  background: #C2EAF0;
  border-radius: 10px;
  margin-top:150px;
  height: 800px;
  box-shadow: 3px 3px 3px #516163;
  text-align: center;
  justify-content: center;
  padding-top:10px;
}
.login input[type='text']{
  margin:20px;
}
.login input[type='password']{
  margin:20px;
}
.login input[type='submit']{
  border:none;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 3px;
  background:  #AED1D6;
}
.login .password_reset{
  margin-top: 10px;
}
#password_reset{
  width: 200px;
}
#checkemail{
  margin-top: 10px;
  display: none;
}
#erroremail{
  margin-top: 10px;
  display: none;
}
.login .password_reset a{
  color: black;
  text-decoration: none;
  font-size:14px;
  
  font-family:Bookman, URW Bookman L, serif;
 }
.menutitle{
  display: grid;
  grid-template-columns: 55% 45%;
}
.menu1{
  /* display: block; */
  background: url('./Solution.png');
  background-size: cover;
  box-shadow: 1px 2px 2px #C2EAF0;
  height: 600px;
  border-radius: 3px;
  
  border:none;
  margin-left: 60px;
  width: 600px;
  color: rgba(0,0,0,0);
}
.menu2{
  /* display:block; */
  margin-left: 10px;
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 500;
  text-align: left;
}
.menu3{
  /* display: block; */
  background: url('./study.png');
  background-size: cover;
  box-shadow: 1px 2px 2px #C2EAF0;
  height: 600px;
  border-radius: 3px;
  transform: scale(-1, 1);
  border:none;
   margin-left: 10px;
  width: 600px;
  color: rgba(0,0,0,0);
}
.menu4{
  /* display:block; */
 
  margin-left: 60px;
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 500;
  text-align: left;
}
footer{
  width: 100%;
  margin-top: 30px;
}
.footer{
  background:#516163;
  height: 300px;
}
.footer p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 700;
  text-align: center;
}
#logout{
  color:#CFF9FF;
  font-size:20px;
  font-family:Bookman, URW Bookman L, serif;
}
.loginUpdateDisplay{
  display: grid;
  grid-template-columns: 40% 60%;
}
.login label{
  margin-left: 43px;
}
.loginUpdate label{
  margin-left: 43px;
}
.loginUpdate input[type='text']{
  margin:20px;
}
.loginUpdate input[type='password']{
  margin:20px;
}
.loginUpdate input[type='submit']{
  border:none;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 3px;
  background:  #AED1D6;
}
.loginUpdate .password_reset{
  margin-top: 10px;
}
.newPost input[type='text']{
  margin:20px;
}
.newPost input[type='submit']{
  border:none;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border-radius: 3px;
  background:  #AED1D6;
}
#content{
  height: 200px;
  width: 250px;
  background:#95B4B8;
  border-radius: 3px;
  box-shadow: 4px 2px 4px #C2EAF0;
  border:none;
  border-bottom:1px solid black;
}
.newPost p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 700;

}
.categoriesradio{
  margin-top:10px;
  margin:auto;
  justify-content: center;
}
.post button{
  border:none;

}
.postDb{
  padding-top:8px;
  padding-left: 20px;
}
#content1{
  font-size:12px;
}
.informationThisPost{
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top:150px;
  /* height: 800px; */
  padding-top:10px;
  
}
#statusPost{
  font-family:Bookman, URW Bookman L, serif;
  font-size:30px;
  font-weight: 500;
  text-align: center;
}
.informationPost{
  display: grid;
  grid-template-columns: 20% 80%;
}
.thisPost{
  width: 70%;
  /* height: 330px; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
   /* padding-left: 10px;
  padding-top: 10px; */
  background:#CFF9FF; 
}
.thisPost p{
  font-family:Bookman, URW Bookman L, serif;
  font-size:25px;
  font-weight: 700;
  padding-left: 50px;
  padding-top: 20px;
}
.thisPostContent{
  width: 80%;
  /* height: 100px; */
  /* background: royalblue; */
  margin-left: 40px;
  font-size: 20px;
  text-indent: 0.5em;
  font-family:Bookman, URW Bookman L, serif;
}
.categoriesInfo{
  width: 100px;
  background: #829DA1;
  height: 20px;
  margin-top:30px;
  padding-top:10px;
  margin-left:45px;
  padding-bottom: 15px;
  text-align: center;
  /* width:; */
  border-radius: 10px;
}
#rating{
  width: 40%;
  height: 200px;
  justify-content: center;
  margin-left: 40%;
  margin-top: 40px;
  text-align: center;
  padding-bottom: 10px;
}
#like{
  border: 30px solid transparent;
  border-bottom: 43px solid #C2EAF0;
  display: block;
  width: 0;
  height: 0;
  z-index: 10;
  /* margin-left: 15px; */
}
#rating p{
  height: 10%;
  font-family:Bookman, URW Bookman L, serif;
  font-size:25px;
  font-weight: 500;
  width: 60px;
  /* margin: auto; */
  /* background: chartreuse; */
  /* margin-right: 60%; */
  /* background: chartreuse; */
  padding-top: 5%;
  
  margin-bottom: 30px;
  font-variant: small-caps;
  text-align: center;
}
#dislike{
  /* width: 70px;
  height: 70px; */
  /* margin-left: 15px; */
  border: 30px solid transparent;
border-top: 43px solid #C2EAF0;
display: block;
width: 0;
height: 0;
}
.comments{
  width: 85%;
  /* height: 100px; */
  /* background: royalblue; */
  margin-left: 40px;
  font-size: 20px;
  text-indent: 0.5em;
  font-family:Bookman, URW Bookman L, serif;
}
#comment{
  width: 80%;
  height: 100px;
  background: #BCE2E8;
  margin-left: 80px;
  font-size: 20px;
  text-indent: 0.5em;
  font-family:Bookman, URW Bookman L, serif;
  /* background-color: wheat; */
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 20px;
  border-radius: 5px;
}
#comment #info{
  /* background: violet; */
  width: calc(100%-10px);
  height: 80px;
  padding-top: 20px;
  padding-left: 10px;
  background: #A7C9CF;
  border-top-left-radius: 10px;
  /* text-align: center; */
 
}
#contentComment{
  /* background: rgb(228, 228, 180); */
  width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
  
}
.commentCreate{
  width: 70%;
  margin: auto;
  height: 200px;
  /* background: aqua; */
}
#commentText{
  width: 99%;
  height: 100px;
  border-radius: 5px;
  background: #d5eef2;
}
.buttonComment{
  float: right;
  margin-top: 20px;
  /* margin-right: 10px; */
  background:#516163;
  width: 80px;
  text-align: center;
  padding-top: 5px;
  height: 25px;
  font-family:Bookman, URW Bookman L, serif;
  font-size: 20px;
  border-radius: 8px;
}
.select{
  width: 200px;
  margin-top:10px;
}
.headelSelect{
  display: grid;
  margin-top: 40px;
  grid-template-columns: 20% 80%;
}
.post p{
  display: none;
}
.notificationPost{
  width: 300px;
  height: 70px;
  /* background: wheat; */
  position: relative;
  /* float: right; */
  /* margin: auto; */
  display: none;
  margin-left: 70%;
  /* margin-right: 100px; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 10px;
}
.notifButton{
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 10px;
  width: 100px;
  display: none;
  height: 30px;
  text-align: center;
  background:#516163;
  border-radius: 10px;
}
.deleteProfile{
  width: 100px;
  margin: auto;
  margin-top: 10px;
  height: 25px; 
  padding-top: 5px;
  border-radius: 5px;
  background: #AED1D6;
  font-family:Bookman, URW Bookman L, serif;
}
/* #logout{
  display: none;
  padding-right: 10px;
}
#update{
  display: none;
} */